@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraCode';
  src: url('./public/fonts/FiraCode-VariableFont_wght.ttf');
}

@layer base {
  html {
    font-family: 'FiraCode', sans-serif;
  }
}