@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'FiraCode';
  src: url('./public/fonts/FiraCode-VariableFont_wght.ttf');
}

@layer base {
  html {
    font-family: 'FiraCode', sans-serif;
    color: white;
  }
}